* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFD83F;
}

.intro {
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    overflow: hidden;
    font-size: 1rem;
}

#welcome {
    font-weight: 500;
    font-size: 3em;
}

#name {
    font-weight: 500;
    font-size: 5em;
    text-transform: uppercase;
}

.intro-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    letter-spacing: 1em;
    margin-right: -1em;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.intro-text.start {
    opacity: 1;
    letter-spacing: 0;
    margin-right: 0;
}

.intro-btn {
    cursor: pointer;
    background: transparent;
    color: #FFD83F;
    outline: none;
    border: #FFD83F solid 2px;
    border-radius: 10px;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 1rem;
    padding: 1em 1em;
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 1s ease 1s, background 500ms ease;
    transition: all 1s ease 1s, background 500ms ease;
}

.intro-btn:hover {
    background: rgba(255, 216, 63, 0.25) !important;
}

.intro-btn:focus {
    outline: none;
}

.intro-btn.start {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}